@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Justin LeCheminant Senior Software Engineer. Showcasing projects, blog, resume, contact info" />
    <META NAME="ROBOTS" CONTENT="INDEX, NOFOLLOW">
    <link href="@Url.Content("~/Content/bootstrap.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap-theme.min.css")" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="@Url.Content("~/Content/jquery.jqGrid/ui.jqgrid.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/base/all.css")">
    <script type="text/javascript" src="@Url.Content("~/scripts/jquery-3.1.0.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/jquery.jqGrid.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/modernizr-2.8.3.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/i18n/grid.locale-en.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon.ico")" />
    <title>BugOutNet Login</title>
    <style type="text/css">
    </style> 
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <span class="navbar-brand">BugOutNet</span>
            </div>
        </div>
    </div>
    <div class="container" style="width: 300px;">
        <div class="row">
            <div class="center-block">
                @using( Ajax.BeginForm( "PerformLogin", "Login", new AjaxOptions() { OnFailure= "onFailure", OnSuccess= "onSuccess" }  ) )
                {
                    <span id="spanError" style="color: red;"></span>
                    <fieldset>
                        <h2 class="form-signin-heading">Please sign in</h2>
                        <label for="textUsername" class="sr-only">Username</label>
                        <input type="text" id="textUsername" name="textUsername" class="form-control" placeholder="Username" required autofocus>
                        <label for="textPassword" class="sr-only">Password</label>
                        <input type="password" id="textPassword" name="textPassword" class="form-control" placeholder="Password" required>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="cbRemember" name="cbRemember" checked="checked"> Remember me
                            </label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit"  data-loading-text="<i class='icon-spinner icon-spin icon-large'></i> Attempting Login">Sign in</button>
                    </fieldset>
                }
            </div>
        </div>
    </div> 
</body>
</html>

<script>
    function onFailure(data) {
        alert(data.ErrorMessage);
    }

    function onSuccess(data) {
        if (data.Success){
            $("#spanError").html("");        
            window.location = "@Url.Action( "Index", "Bugs" )";
        }
        else {
            $("#spanError").html("Invalid username/password");
        }
        
    }
</script>