@using BugOutNetLibrary.Managers

<div>
    <div id="divFilters">

    </div>
    <div style="float:left; text-align: right"><button type="button" class="btn btn-primary" onclick="addNewBug();">Add New Bug</button></div>
    <div style="float: right;">
        <h4><span class="label label-primary">Projects:&nbsp;</span>&nbsp;&nbsp;@Html.DropDownList( "ddlProjects", BugOutNet.Classes.CacheManager.GetProjects(), "All", new { @class = "dropdown-toggle", @onchange = "onChange();" } )</h4>
    </div>
</div>
<hr />
<div style="clear: both;">
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
</div>

<script>
    var selectedProjectId = @SessionManager.SelectedProjectId;// selectedProjectId = $("#ddlProjects").val();

    if (selectedProjectId == "") {
        selectedProjectId = 0;
    };

    function onChange() {
        selectedProjectId = $("#ddlProjects").val();

        if (selectedProjectId == "") {
            selectedProjectId = 0;
        }

        var url = "@Url.Action( "GetBugs","Bugs")" + "?projectId=" + selectedProjectId;
        $("#jqGrid").jqGrid('setGridParam', { url: url });
        $("#jqGrid").trigger("reloadGrid");
    }

    function addNewBug() {
        $("#divBugsContainer").html("");

        $.ajax({
            type: 'GET',
            url: '@Url.Action( "GetBugView", "Bugs" )',
            data: {
                bugstyle: 'addbug'
            },
            beforeSend: function () {
                $("#divBugsContainer").hide();
                $("#divSpinner").show();
            },
            success: function (result) {
                $('#divBugsContainer').html(result);
            },
            complete: function () {
                $("#divSpinner").hide();
                $("#divBugsContainer").show();
            }
        });
    }

    function editBug( id ) {
        $.ajax({
            type: 'GET',
            url: '@Url.Action( "GetBugView", "Bugs" )',
            data: {
                bugstyle: 'editbug',
                id: id
            },
            beforeSend: function () {
                $("#divBugsContainer").hide();
                $("#divSpinner").show();
            },
            success: function (result) {
                $('#divBugsContainer').html(result);
            },
            complete: function () {
                $("#divSpinner").hide();
                $("#divBugsContainer").show();
            }
        });
    }

    $(document).ready(function () {
        if( selectedProjectId > 0 ){
            $("#ddlProjects").val(selectedProjectId)
        }
        else{
            $("#ddlProjects").selectedIndex = 0;
        }
        
        jQuery("#jqGrid").jqGrid({
            url: "@Url.Action( "GetBugs","Bugs")" + "?projectId=" + selectedProjectId,
            datatype: "json",
            mtype: 'GET',
            colNames: ['Bug Id', 'Name', 'Description', 'Project', 'Category', 'Priority', 'Status', 'Assigned To'],
            colModel: [
                        { name: 'Id', index: 'Id', key: true, align: 'left', width: 60 },
                        { name: 'edit', index: 'edit', width: 90, formatter: addLink },
                        { name: 'Description', index: 'Description', align: 'left', width: 200 },
                        { name: 'Project', index: 'Project', align: 'left', width: 60 },
                        { name: 'Category', index: 'Category', align: 'left', width: 60 },
                        { name: 'Priority', index: 'Priority', align: 'left', width: 60 },
                        { name: 'Status', index: 'Status', align: 'left', width: 50 },
                        { name: 'AssignedTo', index: 'AssignedTo', align: 'left', width: 100 }],
            viewrecords: true,
            autowidth: true,
            shrinkToFit: true,
            multiselect: false,
            height: '100%',
            width: '100%',
            rowNum: 20,
            pager: "#jqGridPager",
            caption: 'Bugs',
            emptyrecords: 'No bugs to display',
            rowList: [10, 20, 30, 40, 50],
            altRows: true,
            gridview: true,
            loadtext: "Loading Bugs...",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                Id: "0"
            }
        });

        $("#jqGrid").jqGrid('navGrid', '#jqGridPager',
                {
                    add: false,
                    edit: false,
                    del: true,
                    search: false,
                    view: false,
                    refresh: false,
                    addtext: "",
                    addtitle: ""
                },
                // edit options
                {
                },
                // add options
                {
                },
                // delete
                {
                    caption: "Delete",
                    url: "@Url.Action( "Delete", "Bugs" )",
                    closeAfterAdd: true,
                    msg: "Are you sure you want to delete this bug?",
                    bSubmit: "Delete",
                    bCancel: "Cancel",
                    width: "auto",
                    height: "auto",
                    resize: false
                },
                //other fucking options
                // search
                {},
                {
                    closeOnEscape: true
                });

    });

    function addLink(cellvalue, options, rowObject) {
        return "<a href='#' type='button' title='' onclick=\"editBug(" + rowObject.Id + " )\" >" + rowObject.Name + "</a>";
    }

</script>
