@{
    ViewBag.Title = "Admin";
}
<div class="container">
    <div style="display:none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);" id="divLoader">
        <img src="~/Content/images/loading.gif" />
    </div>
    <ul class="nav nav-tabs">
        <li class="tab-pane active"><a data-toggle="tab" class="toggle-loading" href="#projects">Projects</a></li>
        <li class="tab-pane"><a data-toggle="tab" class="toggle-loading" href="#categories">Categories</a></li>
        <li class="tab-pane"><a data-toggle="tab" class="toggle-loading" href="#statuses">Statuses</a></li>
        <li class="tab-pane"><a data-toggle="tab" class="toggle-loading" href="#priorities">Priorities</a></li>
        <li class="tab-pane"><a data-toggle="tab" class="toggle-loading" href="#users">Users</a></li>
        <li class="tab-pane"><a data-toggle="tab" class="toggle-loading" href="#settings">Settings</a></li>
    </ul>
    <div class="tab-content" id="divContent">
        <div class="tab-pane fade active in" id="projects">@Html.Partial("_Projects")</div>
        <div class="tab-pane fade in" id="categories">@Html.Partial( "_Categories" )</div>
        <div class="tab-pane fade in" id="statuses">@Html.Partial( "_Statuses" )</div>
        <div class="tab-pane fade in" id="priorities">@Html.Partial( "_Priorities" )</div>
        <div class="tab-pane fade in" id="users">@Html.Partial( "_Users" )</div>
        <div class="tab-pane fade in" id="settings">@Html.Partial( "_Settings" )</div>
    </div>
</div>